* {
    box-sizing: border-box;
}

html {
    background-image: url(../img/pattern.png);
    font-family: "Roboto", system-ui;
    font-weight: 400;
    font-style: normal;
    color: rgb(45, 45, 45);
}

h1 {
    font-size: 2.5em;
    font-family: "Press Start 2P", system-ui;
}

input, button {
    padding: 10px;
    font-family: "Press Start 2P", system-ui;
    font-size: .6em;
}

h1, aside {
    text-shadow: 2px 2px rgb(125, 125, 125, .5);
    font-weight: 900;
}

header,
section,
#content-header {
    display: grid;
    grid-template-columns: .5fr 1.5fr;
    align-items: center;
    gap: 40px;
}

    #content {
        width: 80%;
    }

li {
    list-style-type: none;
    margin: 10px 0;
    font-weight: 600;
    font-style: italic;
}

    aside li {
        text-align: right;
        cursor: pointer;
        font-weight: 900;
        font-style: normal;
        letter-spacing: 2px;
    }

    aside li:hover {
        color: #9995ff;
    }

#pokemon-avatar {
    height: 200px;
    filter: drop-shadow(7px 7px 6px rgba(0, 0, 0, 0.5));
}

#pokemons-all {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    text-align: center;
}

.pokemon-info img {
    width: 100px;
}